@model IndustryProduction.Models.Machine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PortNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PortNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnableFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnableFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MacType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MacType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MacGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MacGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
