<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EUREKA Automation PD 4.0</title>

    <!-- CSS -->
    <link href="~/Themes/Beid/assets/css/fonts/fontawesome/all.min.css" rel="stylesheet">
    <link href="~/Themes/Beid/assets/css/fonts/beid.css" rel="stylesheet" />
    <link href="~/Themes/Beid/assets/css/main.css" rel="stylesheet">
    <link href="~/Themes/Beid/assets/css/styles.css" rel="stylesheet">

    <!-- JQVMAP -->
    <link href="~/Themes/Beid/assets/plugins/jqvmap/jqvmap.min.css" rel="stylesheet">

    <!-- dateRangePicker -->
    <link href="~/Themes/Beid/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/Themes/Beid/assets/img/apple-touch-icon.png">
    <link rel="icon" href="~/Themes/Beid/assets/img/favicon.png">

    <!-- Fonts -->
    <link href="~/Themes/Beid/assets/fonts/inter/inter.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    @RenderSection("Header", false)
</head>
<body class="body">
    <!-- header -->
    <header class="main-header">
        <!-- nav -->
        <nav class="main-navbar navbar navbar-expand-lg navbar-light shadow-2">
            <div class="lnav-box d-flex">
                @*<div class="logo-wrapper px-3 d-none d-md-flex">*@
                <div>
                    <img src="/Themes/Beid/assets/img/logo.png" alt="Logo">
                </div>
                <div class="sidebar-toggler-wrapper ml-auto" style="background-color:white">
                    <button class="p-collapsing-sidebar-toggler sidebar-toggler-secondary transition rounded-circle" data-collapsing="partially" data-collapsing-target="#adminNav" type="button">
                        <span class="icon-menu-options"></span>
                    </button>
                </div>
            </div>
            <div class="d-none d-lg-block ml-0 mr-auto pl-4">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link d-inline-flex align-items-center h-100 text-capitalize ls-normal small-1" href="/">
                            <span class="fw-400"><i class="fas fa-home mr-1"></i><span class="d-none d-xl-inline">Home</span></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link d-inline-flex align-items-center h-100 text-capitalize ls-normal small-1" id="dropdownDashboards" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fw-400"><i class="far fa-folder mr-1"></i><span class="d-none d-xl-inline">Dashboards</span></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left shadow-1 py-3 position-absolute mt-1" aria-labelledby="dropdownDashboards">
                            <a class="dropdown-item" href="@Url.Action("Index", "ProductionStatus")">Production Status</a>
                            <a class="dropdown-item" href="@Url.Action("OeeReport", "OEE")">OEE Report</a>
                            <a class="dropdown-item" href="@Url.Action("Monitor", "CameraSetting")">CNC Live view</a>
                            <a class="dropdown-item" href="@Url.Action("OeeReport", "OEE")">Visual Layout</a>
                        </div>
                    </li>
                </ul> 
            </div>
            <div class="pr-6">
                @*<partial name="_LoginPartial" />*@
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
        <!-- /.nav -->
    </header>
    <!-- /.header -->
    <!-- main -->
    <main>
        <!-- sidebar -->
        <nav id="adminNav" class="main-sidebar p-collapsing-sidebar sidebar-fixed sidebar-left d-flex flex-column">
            <div class="main-sidebar-inner" data-scrollbar="sidebar">
                <ul class="sidebar-nav sidebar-nav-light-hover list-unstyled text-unset small-3 fw-600 content-list">
                    <li class="nav-item text-light transition active">
                        <a href="" aria-expanded="false" data-toggle="collapse" class="sbr-collapse nav-link nav-link-border collapsed collapser collapser-active">
                            <i class="fas fa-desktop"></i> <span class="p-collapsing-title">Dashboard</span>
                        </a>
                        <div class="collapse nav-collapse collapse show">
                            <ul class="list-unstyled">
                                <li class="nav-item active">
                                    <a href="@Url.Action("Index", "ProductionStatus")" class="p-collapsing-title nav-link">
                                        <span>Production Status</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("OeeReport", "OEE")" class="p-collapsing-title nav-link">
                                        <span>OEE Report</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Monitor", "CameraSetting")" class="p-collapsing-title nav-link">
                                        <span>CNC Live view</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("OeeReport", "OEE")" class="p-collapsing-title nav-link">
                                        <span>Visual Layout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item text-light transition">
                        <a href="" aria-expanded="false" data-toggle="collapse" class="sbr-collapse nav-link nav-link-border collapser collapser-active open">
                            <i class="far fa-sticky-note"></i> <span class="p-collapsing-title">Settings</span>
                        </a>
                        <div class="collapse nav-collapse collapse show">
                            <ul class="list-unstyled">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Machine")" class="p-collapsing-title nav-link">
                                        <span>Machines</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "MachineWorking")" class="p-collapsing-title nav-link">
                                        <span>Machines Working</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "WorkingShift")" class="p-collapsing-title nav-link">
                                        <span>Shift Working</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "CameraSetting")" class="p-collapsing-title nav-link">
                                        <span>IP Camera</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /.sidebar -->
        <!-- main content -->
        <div class="main-container">

            @*<div class="overflow-hidden">*@
            <div class="content-wrapper">
                @RenderBody()

            </div>

            <!-- footer -->
            <footer id="footer" class="footer">
                <div class="container-fluid">
                    <div class="row gutters-y align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="px-3 fw-400">
                                © 2020 EUREKA Automation.
                                All rights reserved
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-7 order-lg-last d-none d-md-block">
                            <div class="nav nav-bold-style justify-content-end text-uppercase px-2">
                                <a class="nav-link" href="#">Terms of use</a>
                                <a class="nav-link" href="#">Privacy Policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- /.footer -->
        </div>
    </main>
    <!-- /.main -->
    <!-- offcanvas - search -->
    <div id="offcanvas-search" class="offcanvas h-100 py-8" data-animation="fadeDown" data-scrollbar="offcanvas">
    </div>
    <!-- REQUIRED SCRIPTS -->
    <!-- preloader -->
    <div class="preloaderWrapper"></div>

    <!-- jQuery -->
    <script src="~/Themes/Beid/assets/js/jquery.min.js"></script>
    @*<script src="~/Themes/Beid/assets/plugins/scrollbar/jquery.nicescroll.min.js"></script>*@
    <!-- Bootstrap -->
    <script src="~/Themes/Beid/assets/js/bootstrap.min.js"></script>

    <!-- Chart.js -->
    <script src="~/Themes/Beid/assets/plugins/chart/Chart.min.js" id="_chartJS_min"></script>
    <script src="~/Themes/Beid/assets/plugins/chart/Chart.bundle.min.js"></script>
    <script src="~/Themes/Beid/assets/plugins/chart/chartjs-plugin-annotation.js"></script>
    <script src="~/Themes/Beid/assets/plugins/chart/chartjs-plugin-labels.js"></script>

    <!-- apexcharts -->
    <script src="~/Themes/Beid/assets/plugins/apexcharts/apexcharts.min.js"></script>

    <!-- RangeSlider -->
    <script src="~/Themes/Beid/assets/plugins/rangeslider/rangeslider.min.js" id="_rangeJS_min"></script>

    <!-- Moment -->
    <script src="~/Themes/Beid/assets/plugins/lib/moment/moment.min.js"></script>

    <!-- JQVMAP -->
    @*<script src="~/Themes/Beid/assets/plugins/jqvmap/jquery.vmap.min.js" id="_JQVMAP"></script>
        <script src="~/Themes/Beid/assets/plugins/jqvmap/maps/jquery.vmap.world.js"></script>*@

    <!-- dateRangePicker -->
    <script src="~/Themes/Beid/assets/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- User JS -->
    <script src="~/Themes/Beid/assets/js/scripts.js"></script>

    <!-- Main JS -->
    <script src="~/Themes/Beid/assets/js/main.js" id="_mainJS" data-plugins="load"></script>

    <!-- Modules -->
    <script src="~/Themes/Beid/assets/js/modules.js"></script>

    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>*@

    @RenderSection("Scripts", false)
</body>

</html>
